@import '../UserProfile/UserProfile.scss';

.passwordVerificationForm {
  display: inline-grid;
  gap: var(--spacing-2xs);
  width: 100%;

  .passwordIconStatement {
    margin-bottom: var(--spacing-2xs);
    align-items: center;

    h4 {
      font-size: var(--typography-font-size-2) !important;
      font-weight: 400 !important;
      line-height: 0;
    }
  }

  .passwordButtonGroup {
    margin-top: var(--spacing-md);
    overflow: unset;

    button {
      font-size: var(--typography-font-size-3);
      padding: var(--spacing-md) var(--spacing-lg) !important;
    }

    .userProfile {
      @extend .cancelAndSaveBtn;
    }
  }
}

.PasswordVerifyBox {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  align-self: stretch;
}

.currectPasswordInput {
  margin-bottom: var(--spacing-lg);
}
