$icon-base-location: 'src/assets/icons/core/';
$icon-filled-base-location: 'src/assets/icons/filled/';
$icon-flag-base-location: 'src/assets/icons/flags/';
$icon-topic-base-location: 'src/assets/icons/topic/';
$icon-logo-base-location: 'src/assets/icons/logo/';
// Core Icons
$icon-logo: $icon-base-location + 'Logo.svg';
$icon-plus: $icon-base-location + 'Plus.svg';
$icon-info: $icon-base-location + 'Info.svg';
$icon-next: $icon-base-location + 'Next.svg';
$icon-arrow: $icon-base-location + 'Arrow.svg';
$icon-search: $icon-base-location + 'Search.svg';
$icon-new-tab: $icon-base-location + 'NewTab.svg';
$icon-global-language: $icon-base-location + 'Global.svg';
$icon-mini-logo: $icon-base-location + 'MiniLogo.svg';
$icon-menu: $icon-base-location + 'Menu.svg';
$icon-login-user: $icon-base-location + 'User.svg';
$icon-tick: $icon-base-location + 'Tick.svg';
$icon-gender-boy: $icon-base-location + 'GenderBoy.svg';
$icon-gender-girl: $icon-base-location + 'GenderGirl.svg';
$icon-book: $icon-base-location + 'Book.svg';
$icon-campaign: $icon-base-location + 'Campaign.svg';
$icon-chat-circle: $icon-base-location + 'ChatCircle.svg';
$icon-check: $icon-base-location + 'Check.svg';
$icon-chevron-up: $icon-base-location + 'ChevronUp.svg';
$icon-circle-check: $icon-base-location + 'CircleCheck.svg';
$icon-close: $icon-base-location + 'Close.svg';
$icon-download: $icon-base-location + 'Download.svg';
$icon-edit: $icon-base-location + 'Edit.svg';
$icon-home: $icon-base-location + 'Home.svg';
$icon-link: $icon-base-location + 'Link.svg';
$icon-mail: $icon-base-location + 'Mail.svg';
$icon-mark: $icon-base-location + 'Mark.svg';
$icon-medal: $icon-base-location + 'Medal.svg';
$icon-news: $icon-base-location + 'News.svg';
$icon-options: $icon-base-location + 'Options.svg';
$icon-phone: $icon-base-location + 'Phone.svg';
$icon-circle-plus: $icon-base-location + 'CirclePlus.svg';
$icon-question-circle: $icon-base-location + 'QuestionCircle.svg';
$icon-thumbs-up: $icon-base-location + 'ThumbsUp.svg';
$icon-user-empty: $icon-base-location + 'UserEmpty.svg';
$icon-user: $icon-base-location + 'User.svg';
$icon-exit: $icon-base-location + 'Exit.svg';
$icon-eye: $icon-base-location + 'Eye.svg';
$icon-eye-off: $icon-base-location + 'EyeOff.svg';
$icon-error: $icon-base-location + 'Error.svg';
$icon-play: $icon-base-location + 'Play.svg';
$icon-logout: $icon-base-location + 'Logout.svg';
$icon-show-support: $icon-base-location + 'ShowSupport.svg';

$icon-social-facebook: $icon-base-location + 'SocialFacebook.svg';
$icon-social-youtube: $icon-base-location + 'SocialYouTube.svg';
$icon-social-twitter: $icon-base-location + 'SocialTwitter.svg';
$icon-social-instagram: $icon-base-location + 'SocialInstagram.svg';

$icon-gift: $icon-base-location + 'Gift.svg';
$icon-location: $icon-base-location + 'Location.svg';

// Topic Icons
$icon-child-protection: $icon-topic-base-location + 'ChildProtection.svg';
$icon-clean-water: $icon-topic-base-location + 'CleanWater.svg';
$icon-climate-change: $icon-topic-base-location + 'ClimateChange.svg';
$icon-clothing: $icon-topic-base-location + 'Clothing.svg';
$icon-disability-inclusion: $icon-topic-base-location +
  'DisabilityInclusion.svg';
$icon-disaster-relief: $icon-topic-base-location + 'DisasterRelief.svg';
$icon-economic: $icon-topic-base-location + 'Economic.svg';
$icon-education: $icon-topic-base-location + 'Education.svg';
$icon-environmental: $icon-topic-base-location + 'Environmental.svg';

$icon-food: $icon-topic-base-location + 'Food.svg';
$icon-gender-equality: $icon-topic-base-location + 'GenderEquality.svg';
$icon-health: $icon-topic-base-location + 'Health.svg';
$icon-healthy-food: $icon-topic-base-location + 'HealthyFood.svg';
$icon-human-rights: $icon-topic-base-location + 'HumanRights.svg';
$icon-international-development: $icon-topic-base-location +
  'InternationalDevelopment.svg';
$icon-livelihoods: $icon-topic-base-location + 'Livelihoods.svg';
$icon-medicines: $icon-topic-base-location + 'Medicines.svg';
$icon-poverty: $icon-topic-base-location + 'Poverty.svg';
$icon-refugees: $icon-topic-base-location + 'Refugees.svg';
$icon-sanitation: $icon-topic-base-location + 'Sanitation.svg';
$icon-social-justice: $icon-topic-base-location + 'SocialJustice.svg';
$icon-training: $icon-topic-base-location + 'Training.svg';
$icon-water: $icon-topic-base-location + 'Water.svg';
$icon-womens-health: $icon-topic-base-location + 'WomensHealth.svg';
// Logo
$icon-logo-dark: $icon-logo-base-location + 'LogoDark.svg';
$icon-logo-light: $icon-logo-base-location + 'LogoLight.svg';
$icon-logo-light-small: $icon-logo-base-location + 'LogoLightSmall.svg';
$icon-paypal: $icon-logo-base-location + 'Paypal.svg';
$icon-visa: $icon-logo-base-location + 'Visa.svg';
$icon-master-card: $icon-logo-base-location + 'MasterCard.svg';
$icon-amex: $icon-logo-base-location + 'Amex.svg';
$icon-cfl: $icon-logo-base-location + 'CFL.svg';
$icon-accredited-member: $icon-logo-base-location + 'AccreditedMember.svg';
$icon-imagine-canada: $icon-logo-base-location + 'ImagineCanada.svg';
$icon-imagine-canada-dark: $icon-logo-base-location + 'ImagineCanadaDark.svg';
$icon-humanitarian-coalition-member: $icon-logo-base-location +
  'HumanitarianCoalitionMember.svg';
$icon-bbb: $icon-logo-base-location + 'bbb.svg';
$icon-hc: $icon-logo-base-location + 'hc.svg';
$icon-charity-intelligence: $icon-logo-base-location + 'CharityIntelligence.svg';
// Filled
$icon-calendar: $icon-filled-base-location + 'Calendar.svg';
$icon-highlight-off: $icon-filled-base-location + 'HighlightOff.svg';
$icon-highlight-on: $icon-filled-base-location + 'HighlightOn.svg';
$icon-map-pin: $icon-filled-base-location + 'MapPin.svg';

// Flags
$icon-abkhazia: $icon-flag-base-location + 'Abkhazia.svg';
$icon-afghanistan: $icon-flag-base-location + 'Afghanistan.svg';
$icon-aland-islands: $icon-flag-base-location + 'AlandIslands.svg';
$icon-albania: $icon-flag-base-location + 'Albania.svg';
$icon-algeria: $icon-flag-base-location + 'Algeria.svg';
$icon-american-samoa: $icon-flag-base-location + 'AmericanSamoa.svg';
$icon-andorra: $icon-flag-base-location + 'Andorra.svg';
$icon-angola: $icon-flag-base-location + 'Angola.svg';
$icon-anguilla: $icon-flag-base-location + 'Anguilla.svg';
$icon-antigua-and-barbuda: $icon-flag-base-location + 'AntiguaAndBarbuda.svg';
$icon-argentina: $icon-flag-base-location + 'Argentina.svg';
$icon-armenia: $icon-flag-base-location + 'Armenia.svg';
$icon-aruba: $icon-flag-base-location + 'Aruba.svg';
$icon-australia: $icon-flag-base-location + 'Australia.svg';
$icon-austria: $icon-flag-base-location + 'Austria.svg';
$icon-azerbaijan: $icon-flag-base-location + 'Azerbaijan.svg';
$icon-azores-islands: $icon-flag-base-location + 'AzoresIslands.svg';
$icon-bahamas: $icon-flag-base-location + 'Bahamas.svg';
$icon-bahrain: $icon-flag-base-location + 'Bahrain.svg';
$icon-balearic-islands: $icon-flag-base-location + 'BalearicIslands.svg';
$icon-bangladesh: $icon-flag-base-location + 'Bangladesh.svg';
$icon-barbados: $icon-flag-base-location + 'Barbados.svg';
$icon-basque-country: $icon-flag-base-location + 'BasqueCountry.svg';
$icon-belarus: $icon-flag-base-location + 'Belarus.svg';
$icon-belgium: $icon-flag-base-location + 'Belgium.svg';
$icon-belize: $icon-flag-base-location + 'Belize.svg';
$icon-benin: $icon-flag-base-location + 'Benin.svg';
$icon-bermuda: $icon-flag-base-location + 'Bermuda.svg';
$icon-bhutan: $icon-flag-base-location + 'Bhutan.svg';
$icon-bolivia: $icon-flag-base-location + 'Bolivia.svg';
$icon-bonaire: $icon-flag-base-location + 'Bonaire.svg';
$icon-bosnia-and-herzegovina: $icon-flag-base-location +
  'BosniaAndHerzegovina.svg';
$icon-botswana: $icon-flag-base-location + 'Botswana.svg';
$icon-brazil: $icon-flag-base-location + 'Brazil.svg';
$icon-british-columbia: $icon-flag-base-location + 'BritishColumbia.svg';
$icon-british-indian-ocean-territory: $icon-flag-base-location +
  'BritishIndianOceanTerritory.svg';
$icon-british-virgin-islands: $icon-flag-base-location +
  'BritishVirginIslands.svg';
$icon-brunei: $icon-flag-base-location + 'Brunei.svg';
$icon-bulgaria: $icon-flag-base-location + 'Bulgaria.svg';
$icon-burkina-faso: $icon-flag-base-location + 'BurkinaFaso.svg';
$icon-burundi: $icon-flag-base-location + 'Burundi.svg';
$icon-cambodia: $icon-flag-base-location + 'Cambodia.svg';
$icon-cameroon: $icon-flag-base-location + 'Cameroon.svg';
$icon-canada: $icon-flag-base-location + 'Canada.svg';
$icon-canary-islands: $icon-flag-base-location + 'CanaryIslands.svg';
$icon-cape-verde: $icon-flag-base-location + 'CapeVerde.svg';
$icon-cayman-islands: $icon-flag-base-location + 'CaymanIslands.svg';
$icon-central-african-republic: $icon-flag-base-location +
  'CentralAfricanRepublic.svg';
$icon-ceuta: $icon-flag-base-location + 'Ceuta.svg';
$icon-chad: $icon-flag-base-location + 'Chad.svg';
$icon-chile: $icon-flag-base-location + 'Chile.svg';
$icon-china: $icon-flag-base-location + 'China.svg';
$icon-cocos-island: $icon-flag-base-location + 'CocosIsland.svg';
$icon-colombia: $icon-flag-base-location + 'Colombia.svg';
$icon-comoros: $icon-flag-base-location + 'Comoros.svg';
$icon-cook-islands: $icon-flag-base-location + 'CookIslands.svg';
$icon-corsica: $icon-flag-base-location + 'Corsica.svg';
$icon-costa-rica: $icon-flag-base-location + 'CostaRica.svg';
$icon-croatia: $icon-flag-base-location + 'Croatia.svg';
$icon-cuba: $icon-flag-base-location + 'Cuba.svg';
$icon-curacao: $icon-flag-base-location + 'Curacao.svg';
$icon-cyprus: $icon-flag-base-location + 'Cyprus.svg';
$icon-czech-republic: $icon-flag-base-location + 'CzechRepublic.svg';
$icon-democratic-republic-of-congo: $icon-flag-base-location +
  'DemocraticRepublicOfCongo.svg';
$icon-denmark: $icon-flag-base-location + 'Denmark.svg';
$icon-djibouti: $icon-flag-base-location + 'Djibouti.svg';
$icon-dominica: $icon-flag-base-location + 'Dominica.svg';
$icon-dominican-republic: $icon-flag-base-location + 'DominicanRepublic.svg';
$icon-east-timor: $icon-flag-base-location + 'EastTimor.svg';
$icon-ecuador: $icon-flag-base-location + 'Ecuador.svg';
$icon-egypt: $icon-flag-base-location + 'Egypt.svg';
$icon-el-salvador: $icon-flag-base-location + 'ElSalvador.svg';
$icon-england: $icon-flag-base-location + 'England.svg';
$icon-equatorial-guinea: $icon-flag-base-location + 'EquatorialGuinea.svg';
$icon-eritrea: $icon-flag-base-location + 'Eritrea.svg';
$icon-estonia: $icon-flag-base-location + 'Estonia.svg';
$icon-ethiopia: $icon-flag-base-location + 'Ethiopia.svg';
$icon-european-union: $icon-flag-base-location + 'EuropeanUnion.svg';
$icon-falkland-islands: $icon-flag-base-location + 'FalklandIslands.svg';
$icon-faroe-islands: $icon-flag-base-location + 'FaroeIslands.svg';
$icon-fiji: $icon-flag-base-location + 'Fiji.svg';
$icon-finland: $icon-flag-base-location + 'Finland.svg';
$icon-france: $icon-flag-base-location + 'France.svg';
$icon-french-polynesia: $icon-flag-base-location + 'FrenchPolynesia.svg';
$icon-gabon: $icon-flag-base-location + 'Gabon.svg';
$icon-galapagos-islands: $icon-flag-base-location + 'GalapagosIslands.svg';
$icon-gambia: $icon-flag-base-location + 'Gambia.svg';
$icon-georgia: $icon-flag-base-location + 'Georgia.svg';
$icon-germany: $icon-flag-base-location + 'Germany.svg';
$icon-ghana: $icon-flag-base-location + 'Ghana.svg';
$icon-gibraltar: $icon-flag-base-location + 'Gibraltar.svg';
$icon-greece: $icon-flag-base-location + 'Greece.svg';
$icon-greenland: $icon-flag-base-location + 'Greenland.svg';
$icon-grenada: $icon-flag-base-location + 'Grenada.svg';
$icon-guam: $icon-flag-base-location + 'Guam.svg';
$icon-guatemala: $icon-flag-base-location + 'Guatemala.svg';
$icon-guernsey: $icon-flag-base-location + 'Guernsey.svg';
$icon-guinea: $icon-flag-base-location + 'Guinea.svg';
$icon-guinea-bissau: $icon-flag-base-location + 'GuineaBissau.svg';
$icon-guyana: $icon-flag-base-location + 'Guyana.svg';
$icon-haiti: $icon-flag-base-location + 'Haiti.svg';
$icon-hawaii: $icon-flag-base-location + 'Hawaii.svg';
$icon-honduras: $icon-flag-base-location + 'Honduras.svg';
$icon-hong-kong: $icon-flag-base-location + 'HongKong.svg';
$icon-hungary: $icon-flag-base-location + 'Hungary.svg';
$icon-iceland: $icon-flag-base-location + 'Iceland.svg';
$icon-india: $icon-flag-base-location + 'India.svg';
$icon-indonesia: $icon-flag-base-location + 'Indonesia.svg';
$icon-iran: $icon-flag-base-location + 'Iran.svg';
$icon-iraq: $icon-flag-base-location + 'Iraq.svg';
$icon-ireland: $icon-flag-base-location + 'Ireland.svg';
$icon-isle-of-man: $icon-flag-base-location + 'IsleOfMan.svg';
$icon-israel: $icon-flag-base-location + 'Israel.svg';
$icon-italy: $icon-flag-base-location + 'Italy.svg';
$icon-ivory-coast: $icon-flag-base-location + 'IvoryCoast.svg';
$icon-jamaica: $icon-flag-base-location + 'Jamaica.svg';
$icon-japan: $icon-flag-base-location + 'Japan.svg';
$icon-jersey: $icon-flag-base-location + 'Jersey.svg';
$icon-jordan: $icon-flag-base-location + 'Jordan.svg';
$icon-kazakhstan: $icon-flag-base-location + 'Kazakhstan.svg';
$icon-kenya: $icon-flag-base-location + 'Kenya.svg';
$icon-kiribati: $icon-flag-base-location + 'Kiribati.svg';
$icon-kosovo: $icon-flag-base-location + 'Kosovo.svg';
$icon-kuwait: $icon-flag-base-location + 'Kuwait.svg';
$icon-kyrgyzstan: $icon-flag-base-location + 'Kyrgyzstan.svg';
$icon-laos: $icon-flag-base-location + 'Laos.svg';
$icon-latvia: $icon-flag-base-location + 'Latvia.svg';
$icon-lebanon: $icon-flag-base-location + 'Lebanon.svg';
$icon-lesotho: $icon-flag-base-location + 'Lesotho.svg';
$icon-liberia: $icon-flag-base-location + 'Liberia.svg';
$icon-libya: $icon-flag-base-location + 'Libya.svg';
$icon-liechtenstein: $icon-flag-base-location + 'Liechtenstein.svg';
$icon-lithuania: $icon-flag-base-location + 'Lithuania.svg';
$icon-luxembourg: $icon-flag-base-location + 'Luxembourg.svg';
$icon-macao: $icon-flag-base-location + 'Macao.svg';
$icon-madagascar: $icon-flag-base-location + 'Madagascar.svg';
$icon-madeira: $icon-flag-base-location + 'Madeira.svg';
$icon-malawi: $icon-flag-base-location + 'Malawi.svg';
$icon-malaysia: $icon-flag-base-location + 'Malaysia.svg';
$icon-maldives: $icon-flag-base-location + 'Maldives.svg';
$icon-mali: $icon-flag-base-location + 'Mali.svg';
$icon-malta: $icon-flag-base-location + 'Malta.svg';
$icon-marshall-island: $icon-flag-base-location + 'MarshallIsland.svg';
$icon-martinique: $icon-flag-base-location + 'Martinique.svg';
$icon-mauritania: $icon-flag-base-location + 'Mauritania.svg';
$icon-mauritius: $icon-flag-base-location + 'Mauritius.svg';
$icon-melilla: $icon-flag-base-location + 'Melilla.svg';
$icon-mexico: $icon-flag-base-location + 'Mexico.svg';
$icon-micronesia: $icon-flag-base-location + 'Micronesia.svg';
$icon-moldova: $icon-flag-base-location + 'Moldova.svg';
$icon-monaco: $icon-flag-base-location + 'Monaco.svg';
$icon-mongolia: $icon-flag-base-location + 'Mongolia.svg';
$icon-montenegro: $icon-flag-base-location + 'Montenegro.svg';
$icon-montserrat: $icon-flag-base-location + 'Montserrat.svg';
$icon-morocco: $icon-flag-base-location + 'Morocco.svg';
$icon-mozambique: $icon-flag-base-location + 'Mozambique.svg';
$icon-myanmar: $icon-flag-base-location + 'Myanmar.svg';
$icon-namibia: $icon-flag-base-location + 'Namibia.svg';
$icon-nauru: $icon-flag-base-location + 'Nauru.svg';
$icon-nepal: $icon-flag-base-location + 'Nepal.svg';
$icon-netherlands: $icon-flag-base-location + 'Netherlands.svg';
$icon-new-zealand: $icon-flag-base-location + 'NewZealand.svg';
$icon-nicaragua: $icon-flag-base-location + 'Nicaragua.svg';
$icon-niger: $icon-flag-base-location + 'Niger.svg';
$icon-nigeria: $icon-flag-base-location + 'Nigeria.svg';
$icon-niue: $icon-flag-base-location + 'Niue.svg';
$icon-norfolk-island: $icon-flag-base-location + 'NorfolkIsland.svg';
$icon-north-korea: $icon-flag-base-location + 'NorthKorea.svg';
$icon-northern-cyprus: $icon-flag-base-location + 'NorthernCyprus.svg';
$icon-northern-marianas-islands: $icon-flag-base-location +
  'NorthernMarianasIslands.svg';
$icon-norway: $icon-flag-base-location + 'Norway.svg';
$icon-oman: $icon-flag-base-location + 'Oman.svg';
$icon-orkney-islands: $icon-flag-base-location + 'OrkneyIslands.svg';
$icon-ossetia: $icon-flag-base-location + 'Ossetia.svg';
$icon-pakistan: $icon-flag-base-location + 'Pakistan.svg';
$icon-palau: $icon-flag-base-location + 'Palau.svg';
$icon-palestine: $icon-flag-base-location + 'Palestine.svg';
$icon-panama: $icon-flag-base-location + 'Panama.svg';
$icon-papua-new-guinea: $icon-flag-base-location + 'PapuaNewGuinea.svg';
$icon-paraguay: $icon-flag-base-location + 'Paraguay.svg';
$icon-peru: $icon-flag-base-location + 'Peru.svg';
$icon-philippines: $icon-flag-base-location + 'Philippines.svg';
$icon-pitcairn-islands: $icon-flag-base-location + 'PitcairnIslands.svg';
$icon-poland: $icon-flag-base-location + 'Poland.svg';
$icon-portugal: $icon-flag-base-location + 'Portugal.svg';
$icon-puerto-rico: $icon-flag-base-location + 'PuertoRico.svg';
$icon-qatar: $icon-flag-base-location + 'Qatar.svg';
$icon-rapa-nui: $icon-flag-base-location + 'RapaNui.svg';
$icon-republic-of-macedonia: $icon-flag-base-location +
  'RepublicOfMacedonia.svg';
$icon-republic-of-the-congo: $icon-flag-base-location + 'RepublicOfTheCongo.svg';
$icon-romania: $icon-flag-base-location + 'Romania.svg';
$icon-russia: $icon-flag-base-location + 'Russia.svg';
$icon-rwanda: $icon-flag-base-location + 'Rwanda.svg';
$icon-saba-island: $icon-flag-base-location + 'SabaIsland.svg';
$icon-sahrawi-arab-democratic-republic: $icon-flag-base-location +
  'SahrawiArabDemocraticRepublic.svg';
$icon-samoa: $icon-flag-base-location + 'Samoa.svg';
$icon-san-marino: $icon-flag-base-location + 'SanMarino.svg';
$icon-sao-tome-and-prince: $icon-flag-base-location + 'SaoTomeAndPrince.svg';
$icon-sardinia: $icon-flag-base-location + 'Sardinia.svg';
$icon-saudi-arabia: $icon-flag-base-location + 'SaudiArabia.svg';
$icon-scotland: $icon-flag-base-location + 'Scotland.svg';
$icon-senegal: $icon-flag-base-location + 'Senegal.svg';
$icon-serbia: $icon-flag-base-location + 'Serbia.svg';
$icon-seychelles: $icon-flag-base-location + 'Seychelles.svg';
$icon-sierra-leone: $icon-flag-base-location + 'SierraLeone.svg';
$icon-singapore: $icon-flag-base-location + 'Singapore.svg';
$icon-sint-eustatius: $icon-flag-base-location + 'SintEustatius.svg';
$icon-sint-maarten: $icon-flag-base-location + 'SintMaarten.svg';
$icon-slovakia: $icon-flag-base-location + 'Slovakia.svg';
$icon-slovenia: $icon-flag-base-location + 'Slovenia.svg';
$icon-solomon-islands: $icon-flag-base-location + 'SolomonIslands.svg';
$icon-somalia: $icon-flag-base-location + 'Somalia.svg';
$icon-somaliland: $icon-flag-base-location + 'Somaliland.svg';
$icon-south-africa: $icon-flag-base-location + 'SouthAfrica.svg';
$icon-south-korea: $icon-flag-base-location + 'SouthKorea.svg';
$icon-south-sudan: $icon-flag-base-location + 'SouthSudan.svg';
$icon-spain: $icon-flag-base-location + 'Spain.svg';
$icon-sri-lanka: $icon-flag-base-location + 'SriLanka.svg';
$icon-st-barts: $icon-flag-base-location + 'StBarts.svg';
$icon-st-lucia: $icon-flag-base-location + 'StLucia.svg';
$icon-st-vincent-and-the-grenadines: $icon-flag-base-location +
  'StVincentAndTheGrenadines.svg';
$icon-sudan: $icon-flag-base-location + 'Sudan.svg';
$icon-suriname: $icon-flag-base-location + 'Suriname.svg';
$icon-swaziland: $icon-flag-base-location + 'Swaziland.svg';
$icon-sweden: $icon-flag-base-location + 'Sweden.svg';
$icon-switzerland: $icon-flag-base-location + 'Switzerland.svg';
$icon-syria: $icon-flag-base-location + 'Syria.svg';
$icon-taiwan: $icon-flag-base-location + 'Taiwan.svg';
$icon-tajikistan: $icon-flag-base-location + 'Tajikistan.svg';
$icon-tanzania: $icon-flag-base-location + 'Tanzania.svg';
$icon-thailand: $icon-flag-base-location + 'Thailand.svg';
$icon-tibet: $icon-flag-base-location + 'Tibet.svg';
$icon-togo: $icon-flag-base-location + 'Togo.svg';
$icon-tokelau: $icon-flag-base-location + 'Tokelau.svg';
$icon-tonga: $icon-flag-base-location + 'Tonga.svg';
$icon-transnistria: $icon-flag-base-location + 'Transnistria.svg';
$icon-trinidad-and-tobago: $icon-flag-base-location + 'TrinidadAndTobago.svg';
$icon-tunisia: $icon-flag-base-location + 'Tunisia.svg';
$icon-turkey: $icon-flag-base-location + 'Turkey.svg';
$icon-turkmenistan: $icon-flag-base-location + 'Turkmenistan.svg';
$icon-turks-and-caicos: $icon-flag-base-location + 'TurksAndCaicos.svg';
$icon-tuvalu: $icon-flag-base-location + 'Tuvalu.svg';
$icon-uganda: $icon-flag-base-location + 'Uganda.svg';
$icon-ukraine: $icon-flag-base-location + 'Ukraine.svg';
$icon-united-arab-emirates: $icon-flag-base-location + 'UnitedArabEmirates.svg';
$icon-united-kingdom: $icon-flag-base-location + 'UnitedKingdom.svg';
$icon-united-nations: $icon-flag-base-location + 'UnitedNations.svg';
$icon-usa: $icon-flag-base-location + 'USA.svg';
$icon-united-states: $icon-flag-base-location + 'UnitedStates.svg';
$icon-uruguay: $icon-flag-base-location + 'Uruguay.svg';
$icon-uzbekistan: $icon-flag-base-location + 'Uzbekistan.svg';
$icon-vanuatu: $icon-flag-base-location + 'Vanuatu.svg';
$icon-vatican-city: $icon-flag-base-location + 'VaticanCity.svg';
$icon-vector: $icon-flag-base-location + 'Vector.svg';
$icon-venezuela: $icon-flag-base-location + 'Venezuela.svg';
$icon-vietnam: $icon-flag-base-location + 'Vietnam.svg';
$icon-virgin-islands: $icon-flag-base-location + 'VirginIslands.svg';
$icon-wales: $icon-flag-base-location + 'Wales.svg';
$icon-yemen: $icon-flag-base-location + 'Yemen.svg';
$icon-zambia: $icon-flag-base-location + 'Zambia.svg';
$icon-zimbabwe: $icon-flag-base-location + 'Zimbabwe.svg';
$icon-age: $icon-base-location + 'Age.svg';
$icon-emblem: $icon-base-location + 'Emblem.svg';
