.home-page {
  background-image: url('/src/assets/images/landing.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.collection {
  background-color: black;
  opacity: 50%;
}


.stat-overlay {
  position: absolute;
  top: 30px;
  left: 30px;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 40px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
}

.logo-button {
  position: absolute;
  right: 10px;
  top: 10px;

  .sign-up {
    margin-top: 30px;
  }
}