@import '../UserProfile/UserProfile.scss';

.formLayout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: var(--spacing-lg, 24px);
}

.headingSection {
  font-weight: var(--typography-font-weight-semibold) !important;
  font-size: var(--typography-font-size-4) !important;
  line-height: var(--typography-line-height-4) !important;
}

.passwordButton {
  @extend .userProfileEditBtn;
}
