@import '../../../../styles/colours';
@import '../../../../styles/breakpoints';
@import '../../../../styles/spacing';
@import '../../../../styles/typography';

@mixin fontProperties(
  $size,
  $line,
  $weight: 600,
  $align: center,
  $color: $color-neutral-950
) {
  font-size: var($size);
  line-height: var($line);
  font-weight: $weight;
  text-align: $align;
  color: $color;
}

@mixin flexProperties($align, $direction, $padding, $gap) {
  display: flex;
  align-items: $align;
  align-self: stretch;
  flex-direction: $direction;
  justify-content: start;
  padding: var($padding);
  gap: var($gap);
}

.impactHeroBox {
  @include flexProperties(
    $align: center,
    $direction: column,
    $padding: --spacing-2xs,
    $gap: --spacing-lg
  );
  width: 100%;
  max-width: 872px;
  margin: auto;
  padding: var(--spacing-3xl) 0;

  @media (max-width: $md-max) {
    padding: var(--spacing-lg) var(--spacing-2xl);
  }

  @media (max-width: $xs-max) {
    padding: var(--spacing-lg) var(--spacing-md);
  }

  .header {
    gap: var(--spacing-xs);

    .caption {
      @include fontProperties(
        $size: --typography-font-size-10,
        $line: --typography-line-height-10
      );

      @media (max-width: $md-max) {
        @include fontProperties(
          $size: --typography-font-size-8,
          $line: --typography-line-height-8
        );
      }

      @media (max-width: $xs-max) {
        @include fontProperties(
          $size: --typography-font-size-7,
          $line: --typography-line-height-7
        );
      }
    }

    .headeline {
      gap: var(--spacing-2xs);

      .title {
        color: $color-orange-600;
      }

      .subtitle {
        color: $color-neutral-950;
      }
    }

    .description {
      @include fontProperties(
        $size: --typography-font-size-3,
        $line: --typography-line-height-3,
        $weight: 400,
        $color: $color-neutral-600
      );
    }
  }

  .body {
    width: 100%;

    .peopleImage {
      width: 100% !important;
      margin: auto;
      border-radius: 16px;

      @media (min-width: $lg-min) {
        width: 100% !important;
        max-width: 760px !important;
      }
    }

    &_card {
      @include flexProperties(
        $align: center,
        $direction: column,
        $padding: --spacing-md,
        $gap: --spacing-md
      );
      border-radius: 16px;
      border: 1px solid $color-neutral-100;
      background: $color-white;

      &_label {
        @include fontProperties(
          $size: --typography-font-size-5,
          $line: --typography-line-height-5,
          $color: $color-neutral-600
        );
      }

      &_value {
        @include fontProperties(
          $size: --typography-font-size-5,
          $line: --typography-line-height-5,
          $color: $color-neutral-950
        );
      }
    }

    .bottomSection {
      padding: var(--spacing-md) !important;

      .titleSection {
        padding-bottom: var(--spacing-sm) !important;
      }

      .bottomTitle {
        font-weight: var(--typography-font-weight-semibold) !important;
        font-size: var(--typography-font-size-5) !important;
        line-height: var(--typography-line-height-5) !important;
        color: $color-neutral-950;
      }

      .bottomAmount {
        font-weight: var(--typography-font-weight-semibold) !important;
        font-size: var(--typography-font-size-7) !important;
        line-height: var(--typography-line-height-7) !important;
        color: $color-orange-600;
      }

      .bottomDesc {
        font-weight: var(--typography-font-weight-regular) !important;
        font-size: var(--typography-font-size-3) !important;
        line-height: var(--typography-line-height-3) !important;
        color: $color-neutral-600;
      }
    }
  }
}
