@import '../../../styles/breakpoints';
@import '../../../styles/colours';

.link {
  color: $color-blue-500;
  text-decoration: underline;
  -webkit-text-decoration: underline;
  cursor: pointer;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    color: $color-blue-400;
  }

  &:focus:not(:hover) {
    box-shadow: 0px 0px 0px 4px $color-button-shadow;
  }

  &:active {
    color: $color-blue-700;
  }
}
